/* Para un movimiento suave del desplazamiento de la página */
html {
	scroll-behavior: smooth;
}

/* Se reinician los valores de todo */
* {
	font-family: "Anton", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}

/* Valores del body */
body {
	background-color: rgb(37, 37, 37);
	color: lightgoldenrodyellow;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
}

/* Valores de la clase form */
.form {
	text-align: center;
}

/* Valores de la clase searchBox */
.searchBox {
	width: 250px;
}

/* Valores del elemento select */
select {
	margin-bottom: 16px;
}

/* Se ocultan las barras de la etiqueta <hr> */
hr {
	clear: both;
	visibility: hidden;
}

/* Valores del elemento h1 */
h1 {
	text-align: center;
	margin-bottom: 0;
}

/* Valores del elemento h2 */
h2 {
	margin: 0;
}

/* Comportamiento de los enlaces */
.url:link,
.url:visited,
.url:active {
	color: #7fff00;
}

/* Comportamiento del enlace cuando se sitúa el mouse encima */
.url:hover {
	color: red;
}

/* Valores de la clase container */
.container {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

.subContainer {
	width: 100%;
	overflow: auto;
	height: 60vh;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

.subtitle,
.datum {
	color: rgb(137, 195, 214);
	font-weight: bold;
	font-size: 13px;
}

.data {
	font-size: 13px;
}

.datumTitle {
	color: lightblue;
	font-weight: bold;
	font-size: 20px;
}

.text {
	display: inline;
	color: lightgoldenrodyellow;
}

footer {
	position: fixed;
	bottom: 8px;
	left: 0;
	width: 100%;
	text-align: center;
}

.numberOfArticles {
	width: 215px;
}
