/* Para un movimiento suave del desplazamiento de la página */
html {
	scroll-behavior: smooth;
}

/* Se reinician los valores de toda la página */
* {
	font-family: "Anton", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}

/* Modifica la apariencia del body en general */
body {
	background-color: rgb(37, 37, 37);
	color: lightgoldenrodyellow;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
}

/* Modifica la apariencia del formulario en general */
.form {
	text-align: center;
}

/* Modifica la apariencia de la caja de búsqueda */
.searchBox {
	width: 40vh;
}

/* Modifica la apariencia del elemento select */
select {
	margin-bottom: 16px;
}

/* Modifica la apariencia de las barras del
elemento <hr> ocultándolas de la pantalla */
hr {
	clear: both;
	visibility: hidden;
}

/* Modifica la apariencia del elemento h1 */
h1 {
	text-align: center;
	margin-bottom: 0;
}

/* Modifica la apariencia del elemento h2 */
h2 {
	margin: 0;
}

/* Comportamiento de los enlaces */
.url:link,
.url:visited,
.url:active {
	color: #7fff00;
}

/* Comportamiento del enlace cuando se sitúa el mouse encima */
.url:hover {
	color: red;
}

/* Valores de la clase container */
.container {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

/* Modifica la apariencia del contenedor
generado con PHP con los resultados */
.subContainer {
	width: 100%;
	overflow: auto;
	height: 60vh;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

/* Modifica la apariencia de los subtítulos y datos de
los resultados */
.subtitle,
.datum {
	color: rgb(137, 195, 214);
	font-weight: bold;
	font-size: 13px;
}

/* Modifica la apariencia de la información
desplegada de tamaño de página y última edición
en el contenedor de resultados */
.data {
	font-size: 13px;
}

/* Modifica la apariencia de los títulos de cada
uno de los artículos de los resultados
en el contenedor */
.datumTitle {
	color: lightblue;
	font-weight: bold;
	font-size: 20px;
}

/* Modifica la apariencia general del texto de toda
la página */
.text {
	display: inline;
	color: lightgoldenrodyellow;
}

/* Modifica la apariencia del footer */
footer {
	position: fixed;
	bottom: 8px;
	left: 0;
	width: 100%;
	text-align: center;
}

/* Modifica la apariencia de la caja de la entrada
de datos del número de artículos */
.numberOfArticles {
	width: 180px;
}
